.code-sample {
  border: 1px solid;
  background: white;
  padding: 1em;

  code {
    font-size: 1.2em;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 2;
    hyphens: none;
  }
}
