---
title: 'Preview' 
pagination:
  data: collections.patterns
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.filePathStem }}/index.html'
---

{% extends "layouts/base.njk" %} 

{% set variants = patterns.getVariants(item, collections.patterns) %}
{% set docs = patterns.getDocs(item) %}

{% block content %}
<div class="wrapper flow">
  <h1>{{ item.data.title }}</h1>
  <iframe src="/preview/{{ item.fileSlug }}"></iframe>
  <div>
    <a href="/preview/{{ item.fileSlug }}">View full screen</a>
  </div>
  <h2>Source (Nunjucks)</h2>
  <pre class="code-sample"><code>{{ patterns.renderSource(item) }}</code></pre>
  <h2>Output</h2>
  <pre class="code-sample"><code>{{ patterns.render(item) }}</code></pre>
  
  {% if variants | length %}
    <h2>Variants</h2>
    <ul>
    {% for variant in variants %}
      <li>
        <a href="{{ variant.filePathStem }}">{{ variant.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if docs %}
    <article class="flow">
      <h2>Docs</h2>
      {{ docs | markdownFilter | safe }}
    </article>
  {% endif %}
</div>
{% endblock %}
